*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(236 247 240);
}
.cd{
     accent-color: #4CAF50;
     /* color: white; */
}
.heading{
    background: rgb(26, 151, 26);
    color: white;
    text-align: center;
    padding: 50px 20px;
}


.layout{

    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.filter{
    position: sticky;
    top: 30px;
    width: 300px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.filter h3{
    margin-bottom: 10px;
}
.filter-group{
    margin-bottom: 15px;
}
.filter-group h4 {
    margin-bottom: 8px;
    font-size: 15px;
}

.filter-group label {
    display: block;
    margin: 4px 0;
    font-size: 14px;
}

.app,.rst{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}
.rst{
    border: 2px solid #4CAF50;
    background: #fff;
    color: #4CAF50;
}
.rst:hover{
    background: rgb(26, 151, 26);
    color: white;
}


.app{
    background: rgb(26, 151, 26);
    color: white;
}
.app:hover{
     border: 2px solid #4CAF50;
    background: #fff;
    color: #4CAF50;
}
.filter-group-er:hover{
    /* padding: 10px; */
    width: fit-content;
     height: auto;
    border-radius: 12px;
    background-color: #e0dede;
}
.filter-group-er label {
    display: block;
    margin: 4px 0;
    font-size: 14px;
}
.filter-group-er{
    width: fit-content;
     height: auto;
     padding: 10px;
     /* background-color: #4CAF50; */
}
.filter-group-re:hover{
    /* padding: 10px; */
    width: fit-content;
     height: auto;
    border-radius: 12px;
    background-color: #e0dede;
}
.filter-group-re label {
    display: block;
    margin: 4px 0;
    font-size: 14px;
}
.filter-group-re{
    width: fit-content;
     height: auto;
     padding: 10px;
     /* background-color: #4CAF50; */
}
.filter-group-sc:hover{
    /* padding: 10px; */
    width: fit-content;
     height: auto;
    border-radius: 12px;
    background-color: #e0dede;
}
.filter-group-sc label {
    display: block;
    margin: 4px 0;
    font-size: 14px;
}
.filter-group-sc{
    width: fit-content;
     height: auto;
     padding: 10px;
     /* background-color: #4CAF50; */
}

/* form */

.main-heading{
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 20px;
    color: #333;
}
.hed-card{
    margin-top: 13px;

}
.cen-card i{
    font-size: 22px;
    text-align: center;
}
.card-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.cen-card{
        display: flex;
    flex-direction: column;
    background-color: #ffff;
    /* padding: 20px; */
    padding: 13px 55px 13px 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    transition: 0.3s;
}   
.cen-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
.cen-card h3{
    margin-bottom: 15px;
}
.btn{
    margin-top: 9px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}
.btn:hover{
    background-color: #45a049;
}
.btn a{
    color: white;
    text-decoration: none;
}




/* Pagination */
.pagination {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination button, .pagination span {
    padding: 8px 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.pagination .active {
    background: #4CAF50;
    color: #fff;
}




